.navbar-inverse {
background-color: #15A115;

}

/* navbar テキストカラー */
.navbar-inverse .navbar-nav > li > a {
color: #F6F8F5;

}
/* navbar Brandのカラー */
.navbar-inverse .navbar-brand {
color: #F6F8F5;
}

input.ipth30 { height: 30px; }
input.ipth35 { height: 35px; }
input.ipth40 { height: 40px; }
input.ipth50 { height: 50px; }
input.ipth100 { height: 100px; }